/* La ventaja de utilizar el root es que el estilo se puede aplicar a todos los elementos  */
:root {
  --primary-color: #5eb9f0;
  --paragraph-color: #60697b;
  --headging-color: #343f52;
  --skyblue: #5eb9f0;
  --white: #fff;
}

body {
  font-family: "Urbanist", sans-serif;
}

/* Reset CSS  Comenzando así para sobreescribir estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--headging-color);
  font-size: 42px;
  line-height: 50px;
}
h3 {
  color: var(--headging-color);
  font-size: 23px;
  line-height: 32px;
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--white);
  display: block;
  padding: 8px 10px;
  /* fija el tamaño ficho del botón */
  width: fit-content;
  text-decoration: none;
  box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 39%);
}

